# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Logs
*.log

# C/C++ build artifacts
*.o
*.obj
*.a
*.so
*.dylib
*.exe
*.out
a.out
*.dSYM/

# Build output folders
build/
bin/
out/
